/* html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
  margin: 0;
  padding: 0;
  }

html, body {
  min-height: 100%;
}

body {
  height: 100vh;
  background-color: #2f7d4a;
  background-image: url("../src/img/img_amazonia_bg.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 0 20px;
  box-sizing: border-box;
} */
